[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.8'

[packages]
flake8 = "*"

[dev-packages]
flake8-commas = "*"
flake8-isort = "*"
flake8-bugbear = "*"
flake8-simplify = "*"
flake8-print = "*"
flake8-debugger = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
astpretty = "*"
